@media only screen and (max-device-width: 480px) {
    li {
      padding: 15px;
      font-size: 20pt;
    }
    body {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      font-family: Arial, sans-serif;
      font-size: 20pt;
    }
    ul {
      list-style-type: square;
    }
    a:link {
      color: #008000;
      text-decoration: none;
    }
    a:visited {
      color: #004000;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    h1 {
      font-family: "Comic Sans MS", cursive;
      font-size: 36px;
      color: #400000;
    }
    h2 {
      font-size: 28px;
      color: #400000;
    }
}
